<html>
  <head>
    <%= csrf_meta_tags %>
    <title>MonkaCorona</title>
  </head>

  <body>

    <%# Form for creating a new simulation %>
    <div id="simulation-form-container">
      <form id="simulation-form">
        <label>Name</label>
        <input id="name" type="string">
        <br>
        <label>Initial Infected</label>
        <input id="infected" type="number">
        <br>
        <input id="form-submit" type="submit">
      </form>
    </div>

    <%# Map where all the magic happens %>
    <div id="map-container">
      <div id="map"></div>
    </div>

    <%# Index of all the simulations %>
    <div id="simulations-container">
      <ul id="simulations-list">
        <%# Insert simulation list items here with JS %>
      </ul>
    </div>

    <%= javascript_pack_tag "corona" %>
  </body>
</html>
