<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <title>MonkaCorona</title>
  </head>


  <body>
    <%= javascript_pack_tag "corona" %>
    <%# Form for creating a new simulation %>
    <div id="simulation-form-container">
      <form id="simulation-form">
        <div class="form-group row">
          <label id="form-label" class="col-lg-4 col-form-label">Name</label>
          <input id="name" class="form-control" type="string">
        </div>
        <div class="form-group row">
        <label id="form-label" class="col-sm-2 col-form-label">Initial Infected</label>
        <input id="infected" class="form-control" type="number">
        </div>
        <div class="form-group row">
        <label id="form-label" class="col-sm-2 col-form-label">Initial Population</label>
        <input id="population" class="form-control" type="number">
        </div>
        <div class="form-group row">
        <input id="form-submit" class="btn btn-dark" type="submit">
        </div>
      </form>
    </div>

    <%# Map where all the magic happens %>
    <div id="map-container">
      <canvas id="map", width="1094", height="772"></canvas>
      <%# Info about the current simulation %>
    </div>

    <div id="control-panel">
      <button id="run-btn" class="btn btn-dark">Run</button>
      <button id="stop-btn" class="btn btn-dark">Stop</button>
      <button id="delete-btn" class="btn btn-dark">Delete</button>

      <div id="stats"></div>
    </div>

    <%# Index of all the simulations %>
    <div id="scrollbox">
      <%# Insert simulation list items here with JS %>
    </div>

    <nav class="navbar navbar-inverse">
      <div id="navbar" class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img id="icon" src="/monka-corona-icon.png" alt="MonkaCorona">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="new"> New</a></li>
          <li><a id="sims"> Simulations</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
