<html>
  <head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <title>MonkaCorona</title>
  </head>


  <body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Monka Corona</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="New" href="#"> New</a></li>
      <li><a class="Sims" href="#"> Sims</a></li>
    </ul>
  </div>
</nav>


    <%# Form for creating a new simulation %>
    <div id="simulation-form-container">
      <form id="simulation-form">
        <label>Name</label>
        <input id="name" type="string">
        <br>
        <label>Initial Infected</label>
        <input id="infected" type="number">
        <br>
        <input id="form-submit" type="submit">
      </form>
    </div>

    <%# Map where all the magic happens %>
    <div id="map-container">
      <div id="map"></div>
    </div>

    <%# Index of all the simulations %>
    <div id="simulations-container">
      <ul id="simulations-list">
        <%# Insert simulation list items here with JS %>
      </ul>
    </div>

    <%= javascript_pack_tag "corona" %>
  </body>
</html>
