
body {
  background-color: black;
  background-image: url("https://wrcb.images.worldnow.com/images/19280171_G.png?auto=webp&disable=upscale&height=560&fit=bounds&lastEditedDate=1584929264000");
  background-repeat: no-repeat;
  background-size: 140%;
}


label{
  color: white;
}

#simulation-form-container {
position: absolute;
top: 50%;
left: 51%;
}

#node {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

#map-container {
  display: none;
}

#map {
  position: relative;
  background-color: gray;
  left:400px;
  top:-25px;
  width: 63.7%;
   height: 103%;
}

#healthy-node {
  color: green;
}

#infected-node {
  color: red;
}

#scrollbox {
  // display: none;
  overflow: scroll;
  width: 332px;
  height: 765px;
  background-color: gray;
  position: relative;
  left: 6px;
  top: -18px;
  }

  .name{
    text-decoration: none;
    color: black;
  }
